@font-face {
  font-family: 'MACHINE';
  src: url('Machine-Regular.eot');
  src: url('Machine-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MACHINE';
  src: url('MachineFont.woff') format('woff'),
       url('MachineFont.ttf') format('truetype'),
       url('MachineFont.svg#MachineFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

